<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="amalviy_LinkedUConnectionString" connectionString="Data Source=itksqlexp8;Initial Catalog=amalviy_LinkedU;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="countrySoap" />
        <binding name="USZipSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="countrySoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="USZipSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/country.asmx" binding="basicHttpBinding"
        bindingConfiguration="countrySoap" contract="ServiceReference1.countrySoap"
        name="countrySoap" />
      <endpoint address="http://www.webservicex.net/uszip.asmx" binding="basicHttpBinding"
        bindingConfiguration="USZipSoap" contract="ServiceReference2.USZipSoap"
        name="USZipSoap" />
    </client>
  </system.serviceModel>
</configuration>